

body {
    background-color: black;
    background-image: url("../img/bg1.png");
    background-size: 100%;
}

main {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.menu {
    width: 600px;
    height: 400px;
    margin: auto;
}

#game {
    display: none;
    position: relative;
    width: 440px;
    margin: auto;
}

#win, #menu_settings {
    display: none;
}

div#desk {
    width: 440px;
    height: 440px;
    background: url("../img/desk1.png");
    margin: auto;
    box-shadow:
        inset 2px 2px black,
        20px 30px 20px 0px black;
}

table#desk {
    position: absolute;
    border-collapse: collapse;
}

td {
    vertical-align: top;
    padding: 0px;
    width: 55px;
    height: 55px;
}

h1, h2{
    text-align: center;
    font-size: 3em;
    color: darkgray;
    padding-top: 10px;
}

.checkbox {
    position: relative;
    left: 150px;
    font-size: 2em;
    color: darkgray;
}

h3 {
    text-align: center;
    font-size: 2em;
    color: darkgray;
    padding: 20 px
}

button {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 3em;
    color: darkgray;
    margin-top: 20px;
    background: rgb(40, 40, 40);
    border-radius: 10px;
    border-color: goldenrod;
    outline: none;
}

button:active {
    background: darkred;
    color: black;
}
